<section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="sm:flex sm:items-center sm:justify-between sm:gap-4">
      <p
        class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl"
      >
        All Mario Kart Tournaments
      </p>
    </div>

    <div
      class="mb-4 mt-6 grid grid-cols-1 gap-4 text-center sm:mt-8 sm:grid-cols-2 lg:mb-0 lg:grid-cols-4 xl:gap-8"
    >
      @for(tournament of store.tournaments(); track tournament.id) {
      <a
        href="#"
        class="grid place-content-center space-y-6 overflow-hidden rounded-lg border border-gray-200 bg-white p-6 hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
        [routerLink]="['/tournament', tournament.id]"
      >
        <svg
          class="mx-auto h-14 w-14 text-gray-400 dark:text-gray-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
          />
        </svg>

        <p class="text-lg font-semibold text-gray-900 dark:text-white">
          {{ tournament.name }}
        </p>
      </a>
      }
    </div>
  </div>
</section>
